name: SeleniumLibrary CI

on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    continue-on-error: true
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.9', '3.13', '3.14.0-rc.3']
        rf-version: [6.1.1, 7.3.2]
        selenium-version: [4.28.1, 4.29.0, 4.30.0, 4.31.0, 4.32.0, 4.33.0, 4.34.2]
        browser: [chrome]

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }} with Robot Framework ${{ matrix.rf-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip'
        cache-dependency-path: requirements-dev.txt
    - name: Setup Chrome
      uses: browser-actions/setup-chrome@v1
      with:
        chrome-version: 138
        install-dependencies: true
        install-chromedriver: true
      id: setup-chrome
    - run: |
        echo Installed chromium version: ${{ steps.setup-chrome.outputs.chrome-version }}
        ${{ steps.setup-chrome.outputs.chrome-path }} --version
    - name: Start xvfb
      run: |
        export DISPLAY=:99.0
        Xvfb -ac :99 -screen 0 1280x1024x16 > /dev/null 2>&1 &
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements-dev.txt
    - name: Install Selenium v${{ matrix.selenium-version }}
      run: |
        pip install --upgrade selenium==${{ matrix.selenium-version }}
    - name: Install RF ${{ matrix.rf-version }}
      run: |
        pip install -U --pre robotframework==${{ matrix.rf-version }}
    - name: Install drivers via selenium-manager
      run: |
        SELENIUM_MANAGER_EXE=$(python -c 'from selenium.webdriver.common.selenium_manager import SeleniumManager; sm=SeleniumManager(); print(f"{str(sm._get_binary())}")')
        echo "$SELENIUM_MANAGER_EXE"
        echo "WEBDRIVERPATH=$($SELENIUM_MANAGER_EXE --browser chrome --debug | awk '/INFO[[:space:]]Driver path:/ {print $NF;exit}')" >> "$GITHUB_ENV"
        echo "$WEBDRIVERPATH"
    - name: Generate stub file for ${{ matrix.python-version }}
      run: |
        invoke gen-stub

    - name: Run tests with latest python and latest robot framework
      if: matrix.python-version == '3.13' && matrix.rf-version == '7.3.2'
      run: |
        xvfb-run --auto-servernum python atest/run.py --zip ${{ matrix.browser }}

    - uses: actions/upload-artifact@v4
      if: failure()
      with:
        name: sl_$${{ matrix.python-version }}_$${{ matrix.rf-version }}_$${{ matrix.selenium-version }}_$${{ matrix.browser }}
        path: atest/zip_results
        overwrite: true